<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Badescarf - Şal & Eşarp | Home</title>

    <!-- Favicon  -->
    <link href="img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="css/core-style.css">
    <link rel="stylesheet" href="css/style.css">

    <!-- Responsive CSS -->
    <link href="css/responsive.css" rel="stylesheet">

</head>

<body>
    <div class="catagories-side-menu">
        <!-- Close Icon -->
        <div id="sideMenuClose">
            <i class="ti-close"></i>
        </div>
        <!--  Side Nav  -->
        <div class="nav-side-menu">
            <div class="menu-list">
                <h6>TÜM ÜRÜNLER</h6>
                <ul id="menu-content" class="menu-content collapse out">
                    <!-- Single Item -->
                    <li data-toggle="collapse" data-target="#sal" class="collapsed active">
                        <a href="#">Şal <span class="arrow"></span></a>
                        <ul class="sub-menu collapse" id="sal">
                            <li><a href="#">İpek Twill</a></li>
                            <li><a href="#">Ellen Pamuk</a></li>
                            <li><a href="#">Daria Caz</a></li>
                            <li><a href="#">Bürümcük Bubble Mio</a></li>
                            <li><a href="#">Krinkıl</a></li>
                            <li><a href="#">Medine İpeği</a></li>
                            <li><a href="#">Rayon</a></li>
                            <li><a href="#">Penye Natural Krep</a></li>
                            <li><a href="#">Dream Gofre Desen</a></li>
                            <li><a href="#">Omuz ve Boyun Şalı</a></li>
                        </ul>
                    </li>
                    <!-- Single Item -->
                    <li data-toggle="collapse" data-target="#esarp" class="collapsed">
                        <a href="#">Eşarp<span class="arrow"></span></a>
                        <ul class="sub-menu collapse" id="esarp">
                            <li><a href="#">Hint Kaşmiri</a></li>
                            <li><a href="#">Alisya Pamuk</a></li>
                        </ul>
                    </li>
                    <!-- Single Item -->
                    <li data-toggle="collapse" data-target="#aksesuar" class="collapsed">
                        <a href="#">Aksesuar<span class="arrow"></span></a>
                        <ul class="sub-menu collapse" id="aksesuar">
                            <li><a href="#">Bone</a></li>
                            <li><a href="#">İğne</a></li>
                        </ul>
                    </li>
                   
                     <!-- Single Item -->
                     <li data-toggle="collapse" data-target="#paket" class="collapsed">
                        <a href="#">Hediye Kutu<span class="arrow"></span></a>
                        <ul class="sub-menu collapse" id="paket">
                            <li><a href="#">Bürümcük Bubble</a></li>
                            <li><a href="#">Dream Gofre Desen</a></li>
                            <li><a href="#">Alisya Pamuk</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="wrapper">

        <!-- ****** Header Area Start ****** -->
        <header class="header_area">
            <!-- Top Header Area Start -->
            <div class="top_header_area">
                <div class="container h-100">
                    <div class="row h-100 align-items-center justify-content-end">

                        <div class="col-12 col-lg-8">
                            <div class="top_single_area d-flex align-items-center">
                                <!-- Logo Area -->
                                <div class="top_logo">
                                    <a href="#"><img src="img/core-img/logo.png" alt=""></a>
                                </div>
                                <!-- Cart & Menu Area -->
                                <div class="header-cart-menu d-flex align-items-center ml-auto">
                                    <!-- Cart Area -->
                                    <div class="cart">
                                        <a href="#" id="header-cart-btn" target="_blank"><span class="cart_quantity">2</span> <i class="ti-bag"></i> Sepet </a>
                                        <!-- Cart List Area Start -->
                                        <ul class="cart-list">
                                            <li>
                                                <a href="#" class="image"><img src="img/product-img/product-10.jpg" class="cart-thumb" alt=""></a>
                                                <div class="cart-item-desc">
                                                    <h6><a href="#">İPEK TWİLL</a></h6>
                                                    <p>1x - <span class="price">69₺</span></p>
                                                </div>
                                                <span class="dropdown-product-remove"><i class="icon-cross"></i></span>
                                            </li>
                                        
                                            <li class="total">
                                                <span class="pull-right">TOPLAM: 69₺</span>
                                                <a href="cart" class="btn btn-sm btn-cart">SEPETİM</a>
                                                <a href="checkout" class="btn btn-sm btn-checkout">SATIN AL</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="header-right-side-menu ml-15">
                                        <a href="#" id="sideMenuBtn"><i class="ti-menu" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Top Header Area End -->
            <div class="main_header_area">
                <div class="container h-100">
                    <div class="row h-100">
                        <div class="col-12 d-md-flex justify-content-between">
                            <!-- Header Social Area -->
                            <div class="header-social-area">
                                <a href="#"><span class="karl-level">PAYLAŞ</span> <i class="fa fa-pinterest" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                            <!-- Menu Area -->
                            <div class="main-menu-area">
                                <nav class="navbar navbar-expand-lg align-items-start">

                                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#karl-navbar" aria-controls="karl-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"><i class="ti-menu"></i></span></button>

                                    <div class="collapse navbar-collapse align-items-start collapse" id="karl-navbar">
                                        <ul class="navbar-nav animated" id="nav">
                                            <li class="nav-item active"><a class="nav-link" href="/">Anasayfa</a></li>
                                            <li class="nav-item"><a class="nav-link" href="sal">ŞAL</a></li>
                                            <li class="nav-item"><a class="nav-link" href="esarp">EŞARP</a></li>
                                            <li class="nav-item"><a class="nav-link" href="kutu"><span class="karl-level">YENİ</span>HEDİYE KUTU</a></li>
                                            <li class="nav-item"><a class="nav-link" href="aksesuar">AKSESUAR</a></li>
                                        </ul>
                                    </div>                                                             

                                </nav>
                            </div>
                            <!-- Help Line -->
                            <div class="help-line">
                                <a href="#"><i class="ti-headphone-alt "></i> CANLI YARDIM </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- ****** Header Area End ****** -->